.col .chip {
    margin-bottom: 5px;
}

.modal .expansion-panel.show {
    box-shadow: none;
}

.table tr.disabled {
    opacity: 0.5;
}


@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.25; }
    100% { opacity:1; }
}

.animate-flicker {
    animation: flickerAnimation 1s infinite;
}

.btn .material-icons.text-dark {
    color: #ccc !important;
}